.wallet-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.wallet-container button {
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 6px;
  transform: scale(0.85); /* Делаем кнопку чуть меньше */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px; /* Добавляем отступ сверху, чтобы заголовок не сдвигался */
}

.title {
  font-size: 32px;
  color: rgba(102, 170, 238, 0.91);
  font-weight: bold;
}

@media (max-width: 525px) {
  .wallet-container {
    right: 10px;
    top: 15px;
  }

  .wallet-container button {
    transform: scale(0.75); /* На мобильных кнопка ещё меньше */
  }
}
