body {
  background-color: #121212; /* Темный фон */
  color: #fff; /* Белый текст */
  font-family: Arial, sans-serif;
  text-align: center;
}

.app {
  height: 100vh;
  padding: 10px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #74b9ff; /* Голубой заголовок */
}
